name: Main

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - run: npm ci
      - run: npm test
      - run: echo "$GITHUB_RUN_NUMBER 1" > test-artifact.txt
      - run: echo "$GITHUB_RUN_NUMBER 2" > test-artifact-2.txt
      - run: ls -al
      - name: Download Base Artifact
        uses: ./
        with:
          artifact: "non-existent-artifact.txt"
          path: base2
          required: false
      - name: Download Base Artifact
        uses: ./
        with:
          artifact: "test-artifact.txt"
          path: base
      - run: ls -al
      - run: ls -al base
      - run: diff test-artifact.txt base/test-artifact.txt | egrep '[a-zA-z0-9]+' -
      - uses: actions/upload-artifact@v2
        with:
          name: test-artifact.txt
          path: test-artifact.txt
      - uses: actions/upload-artifact@v2
        with:
          name: test-artifact-2.txt
          path: test-artifact-2.txt
